<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="grid-footer" th:fragment="footer">
    <div class="block-logo">
        <a href="#up">
            <h1>Jobber</h1>
        </a>
    </div>
    <div class="block-links-footer">
        <div class="links-footer">
            <a href="#">Контакты</a>
            <a href="#">Задания</a>
        </div>
    </div>
    <div class="block-soc">
        <div class="block-soc-content">
            <a href="//www.instagram.com/nasa/" class="instagram">
                <img src="img/Instagram-Logo.png">
            </a>
            <a href="//www.facebook.com/NASA/" class="facebook">
                <img src="img/50-Best-Facebook-Logo-Icons-GIF-Transparent-PNG-Images-33.png">
            </a>
            <a href="//vk.com/nasa_vk" class="vk">
                <img src="img/25684.png">
            </a>
        </div>

    </div>
</div>

</body>