body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
}

.header {
    background: #f6f8f9;
    font-family: 'Questrial', sans-serif;
    height: 65px;
    position: relative;
    z-index: 9999;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0;
}

.flex a {
    text-decoration: none;
    font-size: 18px;
}

.logo {
    color: #fa6980;
    font-size: 24px;
}

.links-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-header a {
    margin-right: 25px;
    transition: 0.3s;
}

.links-header a:hover {
    color: #D2691E;
}

.image {
    background: url("../img/avatar-1.svg") no-repeat 50% 50%;
    background-size: contain;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

/* sign in window */

.dropbtn {
    color: #0070c9;
    padding: 12px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    color: #0070c9;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 29px;
    background-color: #f6f8f9;
    min-width: 258px;
    left: -110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;
}

/* Links */

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

h1 {
    font-size: 22px;
}

@media screen and (max-width: 635px) {
    .header {
        position: relative;
    }
}