<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Jobber | About</title>

    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/about.css}" rel="stylesheet">
</head>

<body>

<!--header-->
<div class="header">
    <div class="flex">
        <a href="/" class="logo">
            <h1>Jobber</h1>
        </a>
        <div class="links-header">
            <a href="/about">About</a>
            <div class="dropdown">
                <a onclick="myFunction()" class="image dropbtn" href="#"></a>
                <div id="myDropdown" class="dropdown-content">
                    <a class="text_bag" href="/profile">Profile</a>
                    <a class="text_bag" href="/registration">Sign up</a>
                    <a class="text_bag" href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

   
   <div class="about">
      <div class="about-container">
          <h1 class="h1-about">Jobber</h1>
          <p class="logo-about">About</p>
          <p class="text-about">Jobber - это онлайн-сервис, позволяющий получить практические навыки в требуемой сфере деятельности на основе решений реальных проблем. Данный сервис поможет каждому студенту собрать портфолио на основе выполненных задач, тем самым облегчит работодателю подбор потенциальных работников.</p>
      </div>
       
   </div>
</body>
</html>