<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Jobber | Home</title>
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="static/js/header.js" th:src="@{/js/header.js}" type="text/javascript"></script>
</head>



<body>

<div class="header" th:insert="fragments/header :: header"></div>

<!--content-->
<div id="up" class="content">
    <div class="text_content">
        <div class="text">
            <h1 class="h1">Jobber</h1>
            <h1 class="slogan">Доступные задания для студентов в Вашем городе</h1>
            <p class="text-in-slogan">Помогаем студентам приобрести практические навыки в их сфере деятельности</p>

        </div>
    </div>
    <video autoplay muted loop
           src="video/Video%20background%20for%20website%20%20%20Discussion%20of%20business%20projects%20-%20Motion%20background%20(1).mp4"></video>
</div>

<!--tasks-->

<div class="tasks">
    <div class="tasks-content">
        <h1 class="h1-tasks">Задания</h1>

        <div th:class="@{block-{id}(id=${task.id})}" th:each="task : ${tasks}">
            <a th:href="@{/task/{id}(id=${task.id})}">
                <div class="image-block"></div>
                <div class="content-in-block">
                    <h1 class="h1-block" th:text="${task.title}"></h1>
                    <p class="time_icon">13h ago</p>
                </div>
            </a>
        </div>


    </div>
</div>

<div class="footer" th:insert="fragments/footer :: footer"></div>

</body>
</html>