<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Jobber | Login</title>

    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>

<!--header-->
<div class="header">
    <div class="flex">
        <a href="/" class="logo">
            <h1>Jobber</h1>
        </a>
        <div class="links-header">
            <a href="/about">About</a>
            <div class="dropdown">
                <a onclick="myFunction()" class="image dropbtn" href="#"></a>
                <div id="myDropdown" class="dropdown-content">
                    <a class="text_bag" href="/registration">Sign up</a>
                    <a class="text_bag" href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form">
    <form name='login' action="/login" method='POST'>
        <table>
            <tr>
                <td>UserName:</td>
                <td><input type='text' name='username' value=''></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password'/></td>
            </tr>
            <tr>
                <td colspan='2'><input name="submit" type="submit" value="submit"/></td>
            </tr>
        </table>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</div>
<!--<div class="form">-->
<!--    <form action="#" th:action="@{/login}" class="ui-form" method="post">-->
<!--        <h3>Login</h3>-->
<!--        <div class="form-row">-->
<!--            <input type="text" id="email" required autocomplete="off"><label for="email">Email</label>-->
<!--        </div>-->

<!--        <div class="form-row">-->
<!--            <input type="password" required autocomplete="off">-->
<!--            <label>Пароль</label>-->
<!--        </div>-->
<!--        <p><input class="h" type="submit" value="Login"></p>-->
<!--    </form>-->
<!--</div>-->


<!--footer-->

<div class="footer">
    <div class="grid-footer">
        <div class="block-logo">
            <a href="#up">
                <h1>Jober</h1>
            </a>
        </div>
        <div class="block-links-footer">
            <div class="links-footer">
                <a href="#">Контакты</a>
                <a href="#">Задания</a>
            </div>
        </div>
        <div class="block-soc">
            <div class="block-soc-content">
                <a href="#" class="instagram">
                    <img src="img/Instagram-Logo.png">
                </a>
                <a href="#" class="facebook">
                    <img src="img/50-Best-Facebook-Logo-Icons-GIF-Transparent-PNG-Images-33.png">
                </a>
                <a href="#" class="vk">
                    <img src="img/25684.png">
                </a>
            </div>

        </div>
    </div>
</div>

</body>
</html>