<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Jobber | Task</title>

    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link th:href="@{/css/task.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="static/js/header.js" th:src="@{/js/header.js}" type="text/javascript"></script>
</head>

<body>

<div class="header" th:insert="fragments/header :: header"></div>

<div class="task-create">
    <div class="block-name-task">
        <div class="block-name-task-content">
            <h1 th:text="${title}"></h1>
            <div class="task-category-adress">
                <p class="profession" th:text="${area}"></p>
                <p class="city" th:text="${location}"></p>
            </div>
        </div>
        <div class="author-content">
            <div class="author">
                <img src="/img/avatar-1.svg">
                <p th:text="${empl_name}"></p>
            </div>
            <div class="button-next">
                <a th:href="@{/task/{id}(id=${task_id})}">Следующая работа</a>
            </div>
        </div>
    </div>
    <div class="description-task">

        <div class="grid-description">
            <div class="block-description-question">
                <h1>Как будет выполняться задание?</h1>
                <p>Все условия для выполнения необходимой работы исполнитель оговаривает лично с заказчиком. После выполнения задания заказчик подтверждает выполненые действия.</p>
                <div class="data-description">
                    <h1 class="data-title">Дата публикации</h1>
                    <p>3h ago</p>
                </div>
            </div>

            <div class="block-description-essence">
                <img src="/img/avatar-1.svg">
                <p class="text-description-essence">
                <p th:text="${description}"></p></div>
        </div>

    </div>
</div>

<div class="footer" th:insert="fragments/footer :: footer"></div>

</body>
</html>